{% extends "grid.html.twig" %}
{% block columns %}
[
  {id: "id", name: "#", field: "id", width: 40},
  {id: "host", name: "Host", field: "request_host", minWidth: 120},
  {id: "uri", name: "URI", field: "request_uri", minWidth: 400, sortable: true,
    formatter: function(column, rownum, value, config, row) {
      return '<a href="request/' + row.id + '">' + value + '</a>';
    }
  },
  {id: "date", name: "Date", field: "request_timestamp", formatter: function(column, row, data) { return moment(data * 1000).fromNow(); } }
];
{% endblock %}

