@import "header.css";
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

footer {
    display: none;
    height: 25px;
    min-height: 25px;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: solid grey;
    border-width: 1px 0;
    overflow: hidden;
}

nav {
    width: 150px;
    min-width: 150px;
    overflow: hidden;
    min-height: 100%;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #3a3633), color-stop(100%, #2a2725));
    background: -webkit-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -o-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -ms-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
    min-height: 100%

}

article {
    border: solid grey;
    border-width: 0 0 0 1px;
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ececec;
}

.ui-widget-content {
    background: transparent;
}
aside {
    width: 50px;
    min-width: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}





/* ----- Temp ------*/

.percent-complete-bar {
    display: inline-block;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 5px;
}

.slick-row:hover{
    color: #003bb3;
}
.slick-cell {
    border-right: 1px dotted rgba(100, 100, 100, 0.1);
    border-bottom: 1px solid rgba(100,100,100,0.1);
}

.cell-percent{}

.cell-percent b{
    font-weight: normal;
    display: inline-block;
    min-width: 3em;
    text-align: right;
}

.cell-percent i {
    margin-left: 2px;
    color: #888;
}
/*


<div class="slick-cell l0 r0"><b class="cell-p-vendor">Magento</b><b class="cell-p-path">Code::Reader</b><b class="cell-p-class">ClassReader</b><b class="cell-p-fname">getConstructor</b></div>
*/
.cell-call { text-align: right}
.cell-call>* {
    display: inline-block;
    min-width: 25%;

}


.cell-call > .cell-p-vendor {
    float: left;
    margin-right: 3px;
    padding: 0 3px;
    text-align: center;
    color: #002a80;
    background-color: #80C8Fc;
    border:1px solid #0064cd;
    min-width: inherit;
}

.cell-p-path {
    display: none;
}
.slick-row:hover  .cell-p-path {
    display: inline-block;
    font-size: 80%;
    color: #888;
    text-align: left;
    float: left;
    font-weight: normal;

}
.cell-int {
    text-align: right;
}
.cell-p-class {
    color: #888;
    margin-right: 3px;
}

.cell-p-class::after {
    content: '::';
    margin-left: 2px;
}
.cell-p-fname{
 text-align: left;
}

.ui-state-default{
    background-image: inherit;
}
.slick-headerrow-column {
    background: none;
    text-overflow: clip;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-headerrow-column input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #e6e6e6;
    border: none;
}

.slick-headerrow-column input:focus {
    background-color: #eeeeee;
    border: inherit;
}