<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    
    RewriteBase /workspace/xhprof.me/web
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## rewrite everything else to index.php

    RewriteRule .* index.php [L]
</IfModule>
